/* public/styles/main.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
  }

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 310px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
}